# Comment line immediately above ownership line is reserved for related other information. Please be careful while editing.
#ECCN: 5D002.c.1
#GUSINFO:Open Source,Open Source Workflow
* datacloud-query-connector-owners@salesforce.com
